<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Positive Thinking Company by Adneom - Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">
	<script src="../static/admin/js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	
	<script>
	$(function(){
	
		GetAllPosts(1);
		console.log('me');

		$('document').on('click','.navigation li a',function(){
			console.log('me in');
		});

	});
	
	
	function GetAllPosts(_offset) {
			$.ajax({
				url: '/getAllPosts',
				type: 'GET',
				data : {offset:_offset},
				success: function(response) {
					
					var data = JSON.parse(response);
					var itemPerPage = 5;
					var itemsPerRow = 0;
					$('.well').empty();
					$('.clearfix').empty();
					var mainDiv = $('<div>');
					
					
					for(var i=0 + _offset-1;i<data.length;i++){
						console.log(data[i].Title);
						
					    
						if(itemsPerRow  < itemPerPage){
							console.log(i);
							if(i==data.length-1){
								mainDiv.append(CreateThumb(data[i].Id,data[i].Title,data[i].Subtitle,data[i].Author,data[i].Date));
								mainDiv.append($('<hr>'));
								$('.well').append(mainDiv);
							}
							else{
							mainDiv.append(CreateThumb(data[i].Id,data[i].Title,data[i].Subtitle,data[i].Author,data[i].Date));
							mainDiv.append($('<hr>'));
							itemsPerRow++;
							}
						} else {
							console.log(i);
							$('.well').append(mainDiv);
							//div = $('<div>').attr('class', 'row');
							//div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Subtitle,data[i].Author,data[i].Date));
							//if (i == data.length - 1) {
							//	$('.well').append(mainDiv);
							//}
							//itemsPerRow = 1;
							break;
						}
					} 
					
					<!-- Pager -->
					if(_offset>itemPerPage){
						var prevLink = $('<a/>').attr({'class':'btn btn-primary float-left'}).html('&larr; Recent Posts');

						$(prevLink).click(function(){
							var newOffset = _offset - itemPerPage;
							console.log(newOffset)
							GetAllPosts(newOffset);
							
						});
						$('.clearfix').append(prevLink);
					}
					
					if( (data.length - _offset) >= itemPerPage){
						var nextLink = $('<a/>').attr({'class':'btn btn-primary float-right'}).html('Older Posts &rarr;');
						$(nextLink).click(function(){						
							var newOffset = _offset + itemPerPage;
							console.log(newOffset)
							GetAllPosts(newOffset);
							
						});
						$('.clearfix').append(nextLink);
					}					
											
				},
					error: function(error) {
					console.log(error);
				}
			});
		}
		
		function CreateThumb(id,title,subtitle,author,date){
			
			var post_preview = $('<div>').attr('class','post-preview');
			var a_link = $('<a>').attr({'href':'post/'+id, 'id': "blog_"+id});
			var title = $('<h2>').attr('class','post-title').text(title);
			var subtitle = $('<h3>').attr('class','post-subtitle').text(subtitle);
			var p = $('<p>').attr('class','post-meta').text("Posted by ");
			var author = $('<a>').attr('href','/').text(author);
			var _date = " on " + date;
			p.append(author);
			p.append(_date)			
			a_link.append(title);
			a_link.append(subtitle);
			post_preview .append(a_link);
			post_preview .append(p);
			
			return post_preview;
          
			
		}
	</script>	

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">
			<img class="nav-brand" style=max-width:300px; src="../static/img/logo.png" alt="logo">
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post">Sample Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Adneom Lyon Blog</h1>
              <span class="subheading">Science is a beautiful gift to humanity; share it </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
	
    <div class="container">	
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
		  <div class="well">
		
		  </div>
          <!-- Pager -->
		  <div class="clearfix">
            <!-- <a class="btn btn-primary float-left" onclick="GetAllPost()">&larr; Recent Posts</a> -->
          
           
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/adneom">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
			  <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/adneom/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
			  </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Adneom">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Positive Thinking Company Adneom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

  </body>

</html>
